<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <title>Show Budget</title>
</head>
<body>
  <div class= container>
    <h1><%= budget.name %></h1>
    <button>
      <a href="/budget/">Back</a>
    </button>
  </div>

<p>Date:    <%= budget.date %></p>
<p>Name:    <%= budget.name %></p>
<p>From:    <%= budget.from %></p>
<p>Amount:    <%= budget.amount %></p>
<p>Tags:    <%= budget.tags %></p>

</body>
</html>